<!--Show Loading spinner while waiting for firestore information-->
<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<!--Display information after loading finished-->
<div *ngIf="!isLoading">
  <!--Header section of the view office page-->
  <div class="top-background">
    <div class="top-row">
      <button mat-icon-button (click)="onClickNavigateBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <h1>{{ officeDetails.name }}</h1>
    </div>
    <!--Information about the office inside of the header section-->
    <div class="middle-row">
      <p>Address: {{ officeDetails.location }}</p>
      <p>Email: {{ officeDetails.email }}</p>
      <p>Office Tell: {{ officeDetails.tellNumber }}</p>
      <p>Max Capacity: {{ officeDetails.maxOfficeOccupants }}</p>
    </div>
  </div>
  <!--Search Bar That Filters Users-->
  <div class="searchbar">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <input
          matInput
          placeholder="Search Employees..."
          formControlName="searchString"
          autocomplete="off"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <!--Add Employee + Employee Count Section-->
  <div class="employee-actions">
    <p>
      Staff Members: {{ officeDetails.totalEmployees }}/
      {{ officeDetails.maxOfficeOccupants }}
    </p>
    <button mat-raised-button (click)="onClickOpenAddStaffDialog()">
      Add Staff Member
    </button>
  </div>
  <!--List Of Employee Cards-->
  <!--Unfiltered Shown Before input-->
  <div class="employee-cards" *ngIf="!showFiltered">
    <div class="employee-card" *ngFor="let employee of employees">
      <mat-card>
        <div class="card-layout">
          <div class="avatar">
            {{ employee.firstName.charAt(0) }}
            {{ employee.lastName.charAt(0) }}
          </div>
          <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="onClickOpenEditStaffDialog(employee.employeeId)"
            >
              <mat-icon>edit</mat-icon>
              <span>Edit Staff</span>
            </button>
            <button
              mat-menu-item
              (click)="
                onClickOpenDeleteStaffDialog(
                  employee.employeeId,
                  employee.firstName,
                  employee.lastName
                )
              "
            >
              <mat-icon>delete</mat-icon>
              <span>Remove Staff</span>
            </button>
          </mat-menu>
        </div>
      </mat-card>
    </div>
  </div>
  <!--List Of Employee Cards-->
  <!--Filtered Shown After Input-->
  <div class="employee-cards" *ngIf="showFiltered">
    <div class="employee-card" *ngFor="let employee of filteredEmployees">
      <mat-card>
        <div class="card-layout">
          <div class="avatar">
            {{ employee.firstName.charAt(0) }}
            {{ employee.lastName.charAt(0) }}
          </div>
          <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="onClickOpenEditStaffDialog(employee.employeeId)"
            >
              <mat-icon>edit</mat-icon>
              <span>Edit Staff</span>
            </button>
            <button
              mat-menu-item
              (click)="onClickOpenDeleteStaffDialog(employee.employeeId)"
            >
              <mat-icon>delete</mat-icon>
              <span>Remove Staff</span>
            </button>
          </mat-menu>
        </div>
      </mat-card>
    </div>
  </div>
</div>
